.bg-index{
    width: 100%;
    background: url("../img/bg.jpg") no-repeat center top;
}

.header .nav a{
    margin: 0 20px;
    font-size: 16px;
}

.header{
    height: 90px;
}

.header .contact{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    margin: 10px 30px 25px 0;
}

.header .contact span{
    margin: 0 10px;
    color: #000;
}
.header .contact span.active{
    color: #c02019;
}
.header .nav{
    margin-right: 20px;
}

.header .search-bar{
    position: relative;
    height: 20px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}
.header .search-bar input{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-indent: 5px;
}

.icon-search{
    position: absolute;
    display: block;
    width: 10px ;
    height: 10px;
    background: url("../img/search_03.png") no-repeat ;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.header .left{
    margin: 25px 0 0 20px;
}

.index-slider-wrapper{
    width: 1500px;
    height: 730px;
    background-color: #efefef;
}


.dc-box .floor{
    margin-bottom: 35px;
    display: flex;
    height: 550px;
    justify-content: space-between;
}

.dc-box .floor .item1{
    width: 526px;
    height: 550px;
    background: url("../img/dc_03.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item2{
    width: 214px;
    height: 550px;
    background: url("../img/dc_06.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item3{
    width: 530px;
    height: 550px;
}
.dc-box .floor .item4{
    width: 300px;
    height: 550px;
    background: url("../img/dc_12.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item3 .top,.dc-box .floor .item3 .bottom{
    height: 270px;
    display: flex;
    justify-content: space-between;
}
.dc-box .floor .item3 .top{
    margin-bottom: 10px;
}

.dc-box .floor .item3 .l1{
    width: 150px;
    height: 100%;
    background: url("../img/dc_08.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item3 .l2{
    width: 370px;
    height: 100%;
    background: url("../img/dc_10.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item3 .l3{
    width: 100%;
    height: 100%;
    background: url("../img/dc_16.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}

.dc-box .floor .item6{
    width: 300px;
    height: 550px;
    background: url("../img/dc_24.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item5 .top,.dc-box .floor .item5 .bottom{
    width: 1288px;
    height: 270px;
    display: flex;
    justify-content: space-between;
}
.dc-box .floor .item5 .top{
    margin-bottom: 10px;
}
.dc-box .floor .item5 .l4{
    width: 850px;
    height: 100%;
    background: url("../img/dc_21.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item5 .l5{
    width: 430px;
    height: 100%;
    background: url("../img/dc_23.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item5 .l6{
    width: 526px;
    height: 100%;
    background: url("../img/dc_28.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item5 .l7{
    width: 150px;
    height: 100%;
    background: url("../img/dc_30.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item5 .l8{
    width: 590px;
    height: 100%;
    background: url("../img/dc_32.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item7{
    width: 300px;
    height: 100%;
    background: url("../img/dc_39.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item8{
    width: 500px;
    height: 100%;
    background: url("../img/dc_42.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item9{
    width: 546px;
    height: 100%;

}
.dc-box .floor .item9 .top,.dc-box .floor .item9 .bottom{
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: space-between;
}
.dc-box .floor .item9 .top{
    margin-bottom: 10px;
}
.dc-box .floor .item10{
    width: 230px;
    height: 100%;
    background: url("../img/dc_48.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item9 .l11{
    width: 100%;
    height: 100%;
    background: url("../img/dc_53.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item9 .l9{
    width: 390px;
    height: 100%;
    background: url("../img/dc_44.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.dc-box .floor .item9 .l10{
    width: 150px;
    height: 100%;
    background: url("../img/dc_46.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}

.footer{
    width: 1400px;
    margin: 0 auto;
}

.friend-link{
    padding: 20px 40px;
    border-bottom: 1px solid #d3d3d3;
}

.friend-link .tag{
    width: 220px;
}
.friend-link .hrefs a{
    margin-right: 80px;
    text-decoration: underline;
}

.footer .info{
    padding: 60px 0;
}
.footer .info .nav a{
    color: #000;
    margin: 0 30px;
}

.dc-header{
    width: 100%;
    height: 518px;
    background: url("../img/dc-banner_02.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
    margin-bottom: 50px;
}


.hover-item{
    position: relative;
    cursor: pointer;
}
.hover-item .hover-item-bg{
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 2;
    display: none;
}
.hover-item .hover-item-text{
    position: absolute;
    width: 90px;
    height: 200px;
    left: 50%;
    top:50%;
    margin: -100px 0 0 -45px;
    z-index: 3;
    color: #fff;
    writing-mode: vertical-lr;
    font-size: 30px;
    text-align: right;
    display: none;
}
.hover-item .hover-item-text span{
    font-size: 16px;
    margin-bottom: 15px;
}

.hover-item:hover .hover-item-bg{
    display: block;
}
.hover-item:hover .hover-item-text{
    display: block;
}